<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store-connect</string>
  <key>teamID</key>
  <string>Z4P3N45225</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>signingCertificate</key>
  <string>Apple Distribution</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.hermosalabs.idlescreens</key>
    <string>Idle Screens App Store v3</string>
  </dict>
  <key>destination</key>
  <string>export</string>
  <key>uploadSymbols</key>
  <true/>
</dict>
</plist>
